<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594333437158-fbksp1lam9flo6e5rns1hlbaprr3ig2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594333437158-fbksp1lam9flo6e5rns1hlbaprr3ig2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBKuWAmhix3YtwJnR_Gn5nmvh4hu6Tj1L8</string>
	<key>GCM_SENDER_ID</key>
	<string>594333437158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henrysjourney.app</string>
	<key>PROJECT_ID</key>
	<string>henry-s-journey</string>
	<key>STORAGE_BUCKET</key>
	<string>henry-s-journey.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594333437158:ios:75924bd7ba041f491c3f27</string>
</dict>
</plist>